<div id="footer">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center"><a data-bind="click: navigateTo.bind($data,'pendennis')" href="#"><i class="glyphicon glyphicon-circle-arrow-left"></i><br>Pen</a></div>
            <div class="col-xs-4 text-center"><a data-bind="click: navigateTo.bind($data,'')" href="#"><i class="glyphicon glyphicon-circle-arrow-down"></i><br>Edn</a></div>
            <div class="col-xs-4 text-center"><a data-bind="click: navigateTo.bind($data,'details')" href="#"><i class="glyphicon glyphicon-circle-arrow-right"></i><br>Mnt</a></div>
        </div>
    </div>
</div>