<section>
<div class="well well-sm container"><p class="pull-left visited"><span class="strong pull-left" data-bind="text: title"></span><span class="pull-left">&nbsp;</span><span class="pull-left">Visited <span data-bind="text: count"></span> times</span></p><button data-bind="click: visit" class="btn pull-right">Visit</button></div>
    <div class="thumbnail">
        <img src="content/images/eden.jpg"/>
    </div>
    <p class="lead">All life of Earth depends upon the survival of the plants that surround us - each day of our lives, we use plants from every continent on the planet.
<br/>
The Eden Project is a gateway into this fascinating interactive world of plants and people, a living Theatre, exploring our global garden inheritance - revealing plants, as you've never seen them before.
<br/>
The Eden Project is a truly unique experience, in the heart of Cornwall's Clay Mining country - a place to explore the amazing relationship that exists between the human population and the fascinating world of plants - and the extent that we depend on plants for our very existence.</p>    
</section>