<section>

    <div class="row">
        <div class="col-md-8">
            <h1 data-bind="text: title" class="pull-left"></h1>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg pull-right" type="button" data-bind="click: visit">
                Visited <span class="badge" data-bind="text: count"></span> times
            </button>
        </div>
    </div>

    <div class="row text-center top-buffer">
        <img class="img-responsive img-thumbnail img-rounded" src="content/images/pendennis.jpg" />
    </div>

    <div class="top-buffer">
        <p class="lead">
            The artillery fortress of Pendennis, and that of St Mawes, guarded the anchorage of Carrick Roads and the port of Falmouth for over 400 years. Henry VIII built a gun fort in the mid-16th century, part of a nationwide programme of defence. Bastioned defences were added in the 1590s following the threat of Spanish invasion, and tested during a siege by a Parliamentary army in 1646. The defences were then periodically updated, notably during the Napoleonic Wars, in the years 1880–1910 and during the Second World War when the guns again saw action. 
        </p>
    </div>

</section>