<section>
    <div class="well well-sm container"><p class="pull-left visited"><span class="strong pull-left" data-bind="text: title"></span><span class="pull-left">&nbsp;</span><span class="pull-left">Visited <span data-bind="text: count"></span> times</span></p><button data-bind="click: visit" class="btn pull-right">Visit</button></div>
    <div class="thumbnail">
        <img src="content/images/pendennis.jpg"/>
    </div>
    <p class="lead">
      The artillery fortress of Pendennis, and that of St Mawes, guarded the anchorage of Carrick Roads and the port of Falmouth for over 400 years. Henry VIII built a gun fort in the mid-16th century, part of a nationwide programme of defence. Bastioned defences were added in the 1590s following the threat of Spanish invasion, and tested during a siege by a Parliamentary army in 1646. The defences were then periodically updated, notably during the Napoleonic Wars, in the years 1880–1910 and during the Second World War when the guns again saw action. 
    </p>    
</section>